apiCredentials.txt
tfl_project/data/*
googleCredentials.json
token.pickle
workspace.xml
__pycache__/*
environment/*
cycle_journeys - Shortcut
.pytest_cache
.ipynb_checkpoints/
cycling.data.tfl.gov.uk_files/
tfl_project/simulation/tests/files/test_london.pickle
desktop.ini