apiCredentials.txt
tfl_project/data/bike_db.db
googleCredentials.json
token.pickle
workspace.xml
__pycache__/*
environment/*
cycle_journeys - Shortcut
.pytest_cache
.ipynb_checkpoints/
cycling.data.tfl.gov.uk_files/
desktop.ini
tfl_project/simulation/tests/files/last_used_params.json
mapboxtoken.txt
/tfl_project/simulation/tests/files/london.pickle
