apiCredentials.txt
tfl_project/data/Bikepoints
tfl_project/data/cycle_journeys
tfl_project/data/TFL_Status
tfl_project/data/bike_db.db
googleCredentials.json
token.pickle
workspace.xml
__pycache__/*
environment/*
cycle_journeys - Shortcut
.pytest_cache
.ipynb_checkpoints/
cycling.data.tfl.gov.uk_files/
tfl_project/simulation/tests/files/test_london.pickle
desktop.ini
/tfl_project/simulation/tests/files/last_used_params.json
/tfl_project/simulation/tests/files/london.pickle
*.json
london.pickle